:root {
    --green: #26de81;
    --green-dark: #20bf6b;

    --brown: #2bcbba;
    --brown-dark: #0fb9b1;

    --red: #fc5c65;
    --red-dark: #eb3b5a;

    --blue: #45aaf2;
    --blue-dark: #2d98da;

    --purple: #a55eea;
    --purple-dark: #8854d0;

    --grey: #d1d8e0;
    --grey-dark: #a5b1c2;
}
